---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="h-full w-full bg-black text-white flex flex-col items-center justify-center text-center"
  >
    <div>
      <h1 class="text-4xl font-bold">Frío Paradiso</h1>
      <p>coming soon</p>

      <div class="instagram mt-8 text-red-900">
        <a
          href="https://www.instagram.com/frioparadiso/"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline"
        >
          Instagram
        </a>
      </div>
    </div>
  </div>
</Layout>
