---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="h-full w-full bg-black text-white flex flex-col items-center justify-center text-center"
  >
    <div>
      <h1 class="text-4xl font-bold">Frio Paradiso</h1>
      <p>coming soon</p>
    </div>
  </div>
</Layout>
